:root {
  --main-bg: #fff7ed;
  --text-color: #4d4d4d;
  --btn-color: #ff8c38;
  --main-transition: 0.3s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
body {
  margin: 0;
  background-color: var(--main-bg);
  font-family: "Inter", sans-serif;
}
button {
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #252525;
  padding: 20px 0;
  text-align: center;
  color: #aaaaaa;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
main {
  min-height: calc(100vh - 120px);
}
/* navbar */
nav {
  background-color: var(--main-bg);
  width: 100%;
  padding: 10px 0;
  top: 0;
  left: 0;
  z-index: 10;
}
header nav {
  border-bottom: 1px solid var(--text-color);
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a {
  color: #000000;
}
nav .logo img {
  width: 100%;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
nav a.active,
nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
/* end navbar */
/* home page */
.landing {
  min-height: calc(100vh - 120px);
  background-image: url(./assets/images/landing-image.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
  width: 100%;
  height: 100%;
}
.landing .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  max-width: 500px;
}
.landing .content h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}
.landing .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
a.main {
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 32px;
  padding: 10px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  color: white;
  display: block;
  text-align: center;
}
a.main:hover {
  opacity: 0.8;
}
/* end home page */
/* about */
.about {
  min-height: calc(100vh - 134px);
  display: flex;
  background-color: var(--main-bg);
}
.about .image {
  background-image: url(./assets/images/about.png);
  width: 40%;
  background-position: center;
  background-size: cover;
  background-color: #1d1d35;
}
.about .content {
  flex: 1;
  padding: 50px 25px;
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
  }
  .about .image {
    width: 100%;
    height: 200px;
  }
  .about .content {
    padding: 0;
    padding-top: 50px;
  }
}
.about .content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 30px;
}
.about .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.about .content .explore {
  background-color: #ffcc8d;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  margin: 50px 0;
  -o-border-radius: 5px;
}
.about .content .explore h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.about .content .explore a {
  width: fit-content;
  background-color: black;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
/* end about */
/* vans */
.vans h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
}
.vans ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .vans h2 {
    text-align: start;
  }
  .vans ul {
    justify-content: start;
  }
}
.vans ul li {
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
}
.vans ul li a {
  color: white;
}
.vans ul li:not(.filter) {
  color: white;
  background-color: #607d8b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.vans ul li.selected:first-of-type,
.vans ul li:first-of-type:hover {
  background-color: var(--btn-color);
}
.vans ul li.rugged.selected,
.vans ul li.rugged:hover {
  background-color: #115e59;
}
.vans ul li.luxury.selected,
.vans ul li.luxury:hover {
  background-color: #161616;
}
.vans ul li.filter {
  text-decoration: underline;
}
.vans ul li.filter a {
  color: var(--text-color);
}
.vans .vans-container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.vans .van-card {
  box-shadow: 0px 0px 11px 0px rgb(226 226 226);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.vans .van-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.vans .vans-container .van-card a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--main-bg);
  overflow: hidden;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.vans .vans-container .van-card a .image {
  width: 100%;
  overflow: hidden;
}
.vans .vans-container .van-card a .image img {
  width: 100%;
}
.vans .vans-container .van-card a .info {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.vans .vans-container .van-card a .info div {
  font-weight: 600;
  font-size: 20px;
}
.type {
  padding: 0 15px 20px 15px;
}
.type span {
  color: #ffead0;
  padding: 5px 15px;
  background-color: #e17654;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
}
.type.rugged span {
  background-color: #115e59;
}
.type.luxury span {
  background-color: #161616;
}
/* end vans */
/* van detail */
.van-detail {
  background-color: var(--main-bg);
}
.van-detail a {
  margin-top: 20px;
  display: block;
  color: var(--text-color);
  text-decoration: underline;
}
.van-detail .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  min-height: 90vh;
}
.van-detail .card {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.van-detail .card .image {
  overflow: hidden;
  width: 40%;
}
.van-detail .card .image img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.van-detail .card .content {
  flex: 1;
}

.van-detail .card .content button {
  padding: 10px 30px;
}
@media (max-width: 991px) {
  .van-detail .card {
    flex-direction: column;
  }
  .van-detail .card .image {
    width: 100%;
  }
}
/* end van detail */
/* host vans */
.host-vans h3 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
}
.host-vans .container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.host-vans .van {
  border-radius: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.host-vans .van:hover {
  box-shadow: 0 2px 10px 0px #d8d8d8;
}
.host-vans .van a {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}
.host-vans .van a .image {
  width: 25%;
  overflow: hidden;
}
.host-vans .van a .image img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.text h4 {
  color: #161616;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}
.text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}
/* end host vans */
/* host-van-detail */
.host-van-detail .container > a {
  color: var(--text-color);
  text-decoration: underline;
}
.host-van-detail .card {
  background-color: white;
  color: #161616;
  padding: 20px;
  margin: 40px auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.host-van-detail .card .top {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
  flex: 1;
}
.host-van-detail .card .nav {
  flex-basis: 50%;
  flex: 1;
}
.host-van-detail .card .top .image {
  flex-basis: 50%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .host-van-detail .card .top .image {
    flex-basis: 40%;
  }
  .host-van-detail .card .top {
    flex-basis: 100%;
  }
  .host-van-detail .card .nav {
    flex-basis: 100%;
  }
}
.host-van-detail .card .top .image img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.host-van-detail .card .top .text {
  margin-top: 10px;
}
.host-van-detail .card nav {
  background-color: inherit;
}
.host-van-detail .card p {
  width: 100%;
  flex: 1;
}
.host-van-detail .card .detail {
  margin: 20px 0;
}
.van-images {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(30px, 1fr));
  gap: 10px;
}
.van-images div img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* end host-van-detail */
/* NotFound page */
.not-found {
  max-width: 300px;
  margin: auto;
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-found h1 {
  text-align: center;
}
.not-found a {
  padding: 10px 20px;
  background-color: #161616;
}
/* end NotFound page */
/* sign in */
.sign-in .msg {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff695e;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.sign-in form .container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin: auto;
}
.sign-in form input {
  padding: 3px 5px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
.sign-in form input:focus {
  outline: none;
}
.sign-in form button {
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: var(--btn-color);
  font-weight: 700;
  font-size: 16px;
}
.sign-in form a {
  color: var(--btn-color);
  font-weight: 700;
}
/* end sign in */
