:root {
  --main-bg: #fff7ed;
  --text-color: #4d4d4d;
  --btn-color: #ff8c38;
  --main-transition: 0.3s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
body {
  margin: 0;
  background-color: var(--main-bg);
  font-family: "Inter", sans-serif;
}
button {
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #252525;
  padding: 20px 0;
  text-align: center;
  color: #aaaaaa;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
/* navbar */
nav {
  background-color: var(--main-bg);
  width: 100%;
  padding: 10px 0;
  top: 0;
  left: 0;
  z-index: 10;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo a {
  color: #000000;
}
nav .logo img {
  width: 100%;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
}
/* end navbar */
/* home page */
.landing {
  min-height: calc(100vh - 120px);
  background-image: url(./assets/images/landing-image.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
  width: 100%;
  height: 100%;
}
.landing .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 1;
  width: 90%;
  max-width: 500px;
}
.landing .content h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}
.landing .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.landing .content button {
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15.9462px;
  line-height: 32px;
  padding: 10px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.landing .content button:hover {
  opacity: 0.8;
}
/* end home page */
/* aboute */
.about {
  min-height: calc(100vh - 134px);
  display: flex;
  background-color: var(--main-bg);
}
.about .image {
  background-image: url(./assets/images/about.png);
  width: 40%;
  background-position: center;
  background-size: cover;
  background-color: #1d1d35;
}
.about .content {
  flex: 1;
  padding: 50px 25px;
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
  }
  .about .image {
    width: 100%;
    height: 200px;
  }
  .about .content {
    padding: 0;
    padding-top: 50px;
  }
}
.about .content h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  margin-bottom: 30px;
}
.about .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.about .content .explore {
  background-color: #ffcc8d;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  margin: 50px 0;
  -o-border-radius: 5px;
}
.about .content .explore h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.about .content .explore button {
  width: fit-content;
  background-color: black;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
/* end about */
/* vans */
.vans h2 {
  text-align: center;
}
.vans ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .vans h2 {
    text-align: start;
  }
  .vans ul {
    justify-content: start;
  }
}
.vans ul li {
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
}
.vans ul li:not(:last-of-type) {
  color: white;
  background-color: var(--btn-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.vans ul li:not(:last-of-type):hover {
  opacity: 0.8;
}
.vans ul li:last-of-type {
  text-decoration: underline;
}
.vans .vans-container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.vans .van-card {
  box-shadow: 0px 10px 10px 2px rgba(186, 186, 186, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.vans .van-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.vans .vans-container .van-card a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--main-bg);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  color: black;
}
.vans .vans-container .van-card a .image {
  width: 100%;
  overflow: hidden;
}
.vans .vans-container .van-card a .image img {
  width: 100%;
}
.vans .vans-container .van-card a .info {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.vans .vans-container .van-card a .info div {
  font-weight: 600;
  font-size: 20px;
}
.vans .vans-container .van-card a .type {
  padding: 0 15px 20px 15px;
}
.vans .vans-container .van-card a .type span {
  color: #ffead0;
  padding: 5px 15px;
  background-color: var(--btn-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 500;
}
/* end vans */
